* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header,
section h2,
section h3,
form button {
    font-family: "Bungee", sans-serif;
    font-weight: normal;
}

body,
input,
textarea {
    font-family: "Roboto", sans-serif;
    font-weight: 400px;
}

header {
    padding: 16px 0;
    background-color: #d01b1b;
    color: #e1e1e2;
}

header nav li {
    display: inline;
    margin-left: 16px;
    font-size: 18px;
}

header nav li a {
    color: #ecf0f1;
    text-decoration: none;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container img {
    max-width: 600px;
}

.brands-list img{
    height: 80px;
}

.brands-list li {
    display: inline;
    margin-right: 8px;
} 

.social-links img {
    height: 24px;
}

.social-links li {
    display: inline;
    margin-right: 8px;
}

.social-links a {
    text-decoration: none;
}

#contact .container {
    display: block;
}

.contact-methods {
    display: flex;
    justify-content: space-between;
}

form input, 
form text area,
form button {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

form textarea {
    resize: none;
    height: 180px;
}

section h3 {
    margin-bottom: 16px;
}

form button {
    background-color: #d01b1b;
    color: #e1e1e2;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #de3636;
}

input:focus, textarea:focus {
    outline-color: #d01b1b;
}

.footer {
    background-color: #d01b1b;
    color: #e1e1e2;
    padding: 16px, 0;
}